<aside class="main-sidebar sidebar-light-warning elevation-4">
	<!-- Brand Logo -->
	<a [routerLink]="['/']" class="brand-link navbar-warning">
	  <img src="../../assets/img/template/logo_light.png" alt="AdminLTE Logo" class="" style="opacity: .8">
	  <!-- <span class="brand-text font-weight-light">AdminLTE 3</span> -->
	</a>

	<!-- Sidebar -->
	<div class="sidebar">
	  <!-- Sidebar user (optional) -->
	  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
	    <div class="image">
	      <img src="../../assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
	    </div>
	    <div class="info">
	      <a href="#" class="d-block">Alexander Pierce</a>
	    </div>
	  </div>

	  <!-- Sidebar Menu -->
	  <nav class="mt-2">
	    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
	      <!-- Add icons to the links using the .nav-icon class
	           with font-awesome or any other icon font library -->
	     
	      <li class="nav-item">
	         <a [routerLink]="['/']" class="nav-link">
	          <i class="nav-icon fas fa-home"></i>
	          <p>
	            Home
	            
	          </p>
	        </a>
	      </li>

	      <li class="nav-item">
	        <a [routerLink]="['/users']" class="nav-link">
	          <i class="nav-icon fas fa-users"></i>
	          <p>
	            Usuarios	            
	          </p>
	        </a>
	      </li>

	      <li class="nav-item">
	        <a [routerLink]="['/categories']" class="nav-link">
	          <i class="nav-icon fas fa-list"></i>
	          <p>
	            Categorías
	            
	          </p>
	        </a>
	      </li>

	      <li class="nav-item">
	        <a [routerLink]="['/subcategories']" class="nav-link">
	          <i class="nav-icon fas fa-th"></i>
	          <p>
	            Sub-Categorías
	            
	          </p>
	        </a>
	      </li>

	      <li class="nav-item">
	        <a [routerLink]="['/stores']" class="nav-link">
	          <i class="nav-icon fas fa-store"></i>
	          <p>
	            Tiendas
	            
	          </p>
	        </a>
	      </li>

	      <li class="nav-item">
	        <a [routerLink]="['/products']" class="nav-link">
	          <i class="nav-icon fas fa-shopping-bag"></i>
	          <p>
	            Productos	            
	          </p>
	        </a>
	      </li>

	      <li class="nav-item">
	        <a [routerLink]="['/orders']" class="nav-link">
	          <i class="nav-icon fas fa-shopping-basket"></i>
	          <p>
	            Órdenes	            
	          </p>
	        </a>
	      </li>

	      <li class="nav-item">
	        <a [routerLink]="['/sales']" class="nav-link">
	          <i class="nav-icon fas fa-shopping-cart"></i>
	          <p>
	            Ventas	            
	          </p>
	        </a>
	      </li>

	      <li class="nav-item">
	        <a [routerLink]="['/disputes']" class="nav-link">
	          <i class="nav-icon far fa-comment-alt"></i>
	          <p>
	            Disputas	            
	          </p>
	        </a>
	      </li>

	      <li class="nav-item">
	        <a [routerLink]="['/messages']" class="nav-link">
	          <i class="nav-icon far fa-comments"></i>
	          <p>
	            Mensajes	            
	          </p>
	        </a>
	      </li>
	     
	    </ul>
	  </nav>
	  <!-- /.sidebar-menu -->
	</div>
	<!-- /.sidebar -->
</aside>
